1. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume".

In [2]:
import pandas as pd

In [3]:
sp = pd.read_csv("sp500hst.txt", names = ["date", "ticker", "open", "high", "low", "close", "volume"])
sp

            date ticker   open     high     low  close  volume
0       20090821      A  25.60  25.6100  25.220  25.55   34758
1       20090824      A  25.64  25.7400  25.330  25.50   22247
2       20090825      A  25.50  25.7000  25.225  25.34   30891
3       20090826      A  25.32  25.6425  25.145  25.48   33334
4       20090827      A  25.50  25.5700  25.230  25.54   70176
...          ...    ...    ...      ...     ...    ...     ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [6]:
sp.iloc[: ,2:6].mean()

open     42.595458
high     43.102243
low      42.054464
close    42.601865
dtype: float64

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [5]:
sp = sp.assign(M = sp.date%10000//100)
print(sp)
sp.M.value_counts()

            date ticker   open     high     low  close  volume  M
0       20090821      A  25.60  25.6100  25.220  25.55   34758  8
1       20090824      A  25.64  25.7400  25.330  25.50   22247  8
2       20090825      A  25.50  25.7000  25.225  25.34   30891  8
3       20090826      A  25.32  25.6425  25.145  25.48   33334  8
4       20090827      A  25.50  25.5700  25.230  25.54   70176  8
...          ...    ...    ...      ...     ...    ...     ... ..
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561  8
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489  8
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498  8
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259  8
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792  8

[122574 rows x 8 columns]

3     11510
12    11144
6     11024
4     10497
7     10492
8     10444
5      9983
9      9980
10     9971
1      9497
2      9496
11     8536
Name: M, dtype: int64

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [7]:

sp2 = sp.groupby(['ticker'])["volume"].sum()
sp2

ticker
A        8609336
AA      81898998
AAPL    52261170
ABC      9006756
ABT     18975870
          ...
XTO     21297931
YHOO    56837171
YUM     10971538
ZION    15551119
ZMH      4938916
Name: volume, Length: 524, dtype: int64

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [8]:
spd = pd.read_csv("sp_data2.csv", names=["ticker", "name"])
spd2 = pd.merge(sp, spd, on="ticker", how="left")
spd2["name"].fillna("Unknown", inplace=True)
spd

                       ticker name
0             AAPL;Apple;3.6%  NaN
1        AMZN;Amazon.com;3.2%  NaN
2         GOOGL;Alphabet;3.1%  NaN
3          GOOG;Alphabet;3.1%  NaN
4         MSFT;Microsoft;3.0%  NaN
..                        ...  ...
500            SCG;SCANA;0.0%  NaN
501         AIZ;Assurant;0.0%  NaN
502    AYI;Acuity Brands;0.0%  NaN
503        HRB;H&R Block;0.0%  NaN
504  RRC;Range Resources;0.0%  NaN

[505 rows x 2 columns]

1.1 В файлах recipes_sample.csv и reviews_sample.csv находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде pd.DataFrame с названиями recipes и reviews. Обратите внимание на корректное считывание столбца с индексами в таблице reviews (безымянный столбец).

In [11]:
recipes = pd.read_csv("recipes_sample.csv")
reviews = pd.read_csv("reviews_sample.csv")
print(recipes)
print(reviews)

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id   submitted  n_steps  \
0               35193  2002-10-25      NaN
1               91970  2003-07-26      NaN
2                1533  2002-08-29      NaN
3               22724  2002-07-27      NaN
4                4470  2004-02-23      4.0
...               ...         ...      ...
29995          200862  2007-11-25     16.0
29996          177443  2009-08-24      NaN
29997          161745  2004-11-03      NaN
29998          227978  2012-08-29      NaN
29999          506822  2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[30000 rows x 8 columns]
        Unnamed: 0     user_id  recipe_id        date  rating  \
0           370476       21752      57993  2003-05-01       5
1           624300      431813     142201  2007-09-16       5
2           187037      400708     252013  2008-01-10       4
3           706134  2001852463     404716  2017-12-11       5
4           312179       95810     129396  2008-03-14       5
...            ...         ...        ...         ...     ...
126691     1013457     1270706     335534  2009-05-17       4
126692      158736     2282344       8701  2012-06-03       0
126693     1059834      689540     222001  2008-04-08       5
126694      453285  2000242659     354979  2015-06-02       5
126695      691207      463435     415599  2010-09-30       5

                                                   review
0       Last week whole sides of frozen salmon fillet ...
1       So simple and so tasty!  I used a yellow capsi...
2       Very nice breakfast HH, easy to make and yummy...
3       These are a favorite for the holidays and so e...
4       Excellent soup!  The tomato flavor is just gre...
...                                                   ...
126691  This recipe was great! I made it last night. I...
126692  This recipe is outstanding. I followed the rec...
126693  Well, we were not a crowd but it was a fabulou...
126694  I have been a steak eater and dedicated BBQ gr...
126695  Wonderful and simple to prepare seasoning blen...

[126696 rows x 6 columns]

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [12]:
print(recipes.shape,recipes.dtypes)
print("\n",reviews.shape,reviews.dtypes)

(30000, 8) name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

 (126696, 6) Unnamed: 0     int64
user_id        int64
recipe_id      int64
date          object
rating         int64
review        object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [13]:
kol_vo = recipes.isna().sum()
dol = (kol_vo / recipes.size) * 100

kol_vo2 = reviews.isna().sum()
dol2 = (kol_vo2 / reviews.size) * 100
print(dol,"\n\n",dol2)

name              0.000000
id                0.000000
minutes           0.000000
contributor_id    0.000000
submitted         0.000000
n_steps           4.662500
description       0.259583
n_ingredients     3.700000
dtype: float64

 Unnamed: 0    0.000000
user_id       0.000000
recipe_id     0.000000
date          0.000000
rating        0.000000
review        0.002236
dtype: float64

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [14]:
print(recipes[["minutes","n_ingredients","n_steps"]].mean())
print("\n\n",reviews[["rating"]].mean())

minutes          123.358133
n_ingredients      9.008286
n_steps            9.805582
dtype: float64


 rating    4.410802
dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [15]:
print(recipes["name"].sample(10))

24154                                 sicilian spaghettini
1910                              baked oatmeal snack bars
7149                 clam chowder  canadian military style
20881                                 pink fluff fruit dip
7877                                            cran tinis
26758                       sweet potatoes  a little tipsy
7609                           corn with spicy lime butter
6769     chocolate sticky date pudding with whiskey but...
27780                          tomato basil  brie linguini
12068    gingersnap crusted ham with apricot mustard sauce
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [16]:
reviews.reset_index(drop=True)

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [17]:
recipes.loc[(recipes['minutes'] < 21) & (recipes['n_ingredients'] < 6)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [18]:
recipes['submitted'] = pd.to_datetime(recipes['submitted'])
print(recipes['submitted'].dtype)

datetime64[ns]

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [19]:
y = recipes.submitted.dt.year <= 2010
recipes[y]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [20]:
recipes["description_length"] = recipes["description"].str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [21]:
recipes["name"] = recipes["name"].str.capitalize()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.3 Добавьте в таблицу recipes столбец name_word_count, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [22]:

recipes['name_word_count'] = recipes['name'].str.split().apply(len)
print(recipes['name_word_count'])

0        8
1        5
2        7
3        3
4        8
        ..
29995    8
29996    4
29997    5
29998    2
29999    7
Name: name_word_count, Length: 30000, dtype: int64

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [23]:
counts = recipes['contributor_id'].value_counts()

id = counts.idxmax()
max = counts.max()

print(id)
print(max)

89831
421

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [24]:
reit = reviews[["recipe_id","rating"]].groupby('recipe_id').mean()
print(reit)
print(reviews.shape[0] - reit.shape[0])

             rating
recipe_id
48         1.000000
55         4.750000
66         4.944444
91         4.750000
94         5.000000
...             ...
536547     5.000000
536610     0.000000
536728     4.000000
536729     4.750000
536747     0.000000

[28100 rows x 1 columns]
98596

4.3 Посчитайте количество рецептов с разбивкой по годам создания

In [25]:
recipes['year'] = pd.to_datetime(recipes['submitted'], format='%Y-%m-%d').dt.year
recipes_year = recipes['name'].groupby(recipes['year']).count()
print(recipes_year)

year
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: name, dtype: int64

5.1 При помощи объединения таблиц, создайте DataFrame, состоящий из четырех столбцов: id, name, user_id, rating. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном DataFrame.

In [41]:
M1 = pd.merge(recipes[['id', 'name']], reviews[['recipe_id', 'user_id', 'rating']], left_on='id', right_on='recipe_id', how='inner')
del M1["recipe_id"]
print(M1)
print(M1.loc[M1['id'] == 10334])

            id                                    name  user_id  rating
0        44123   George s at the cove  black bean soup   743566       5
1        44123   George s at the cove  black bean soup    76503       5
2        44123   George s at the cove  black bean soup    34206       5
3        67664      Healthy for them  yogurt popsicles   494084       5
4        67664      Healthy for them  yogurt popsicles   303445       5
...        ...                                     ...      ...     ...
126691  486161                             Zydeco soup   305531       5
126692  486161                             Zydeco soup  1271506       5
126693  486161                             Zydeco soup   724631       5
126694  486161                             Zydeco soup   133174       5
126695  298512  Cookies by design   cookies on a stick   804234       1

[126696 rows x 4 columns]
Empty DataFrame
Columns: [id, name, user_id, rating]
Index: []

5.2 При помощи объединения таблиц и группировок, создайте DataFrame, состоящий из трех столбцов: recipe_id, name, review_count, где столбец review_count содержит кол-во отзывов, оставленных на рецепт recipe_id. У рецептов, на которые не оставлен ни один отзыв, в столбце review_count должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном DataFrame.

In [40]:
review_counts = reviews.groupby('recipe_id')['review'].count()

M2 = recipes.merge(review_counts,how='left', left_on='id', right_index=True)
M2['review_count'] = M2['review'].fillna(0).astype(int)
M2 = M2[['id','name','review_count']]
M2

           id                                          name  review_count
0       44123         George s at the cove  black bean soup             3
1       67664            Healthy for them  yogurt popsicles             8
2       38798                  I can t believe it s spinach             3
3       35173                          Italian  gut busters             1
4       84797      Love is in the air  beef fondue   sauces             8
...       ...                                           ...           ...
29995  267661  Zurie s holey rustic olive and cheddar bread             4
29996  386977          Zwetschgenkuchen  bavarian plum cake             2
29997  103312   Zwiebelkuchen   southwest german onion cake             6
29998  486161                                   Zydeco soup             6
29999  298512        Cookies by design   cookies on a stick             1

[30000 rows x 3 columns]

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [33]:
date = pd.merge(reviews, recipes, left_index=True, right_on='id')

date['year'] = pd.DatetimeIndex(date['date']).year

rate = date.groupby(['year', 'recipe_id'])['rating'].mean()
rate_year = rate.groupby('year').mean()
min_year = rate_year.idxmin()
min_rate = date[date['year'] == min_year]['name'].unique()
print(f"Рецепты, которые добавили в {min_year} году, имеют наименьший средний рейтинг:\n{min_rate}")

Рецепты, которые добавили в 2000 году, имеют наименьший средний рейтинг:
['Bananalicious shake' 'Mediterranean rice and sausage']

6.1 Отсортируйте таблицу в порядке убывания величины столбца name_word_count и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [38]:
sort_recept = recipes.sort_values(by='name_word_count', ascending=False)
sort_recept.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count,year
26223,Subru uncle s whole green moong dal i ll be ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,343.0,15,2003
28083,Tsr version of t g i friday s black bean soup...,102274,75,74652,2004-10-19,9.0,from www.topsecretrecipes.com i got this copyc...,16.0,436.0,14,2004
26222,Subru uncle s toor ki dal sindhi style dad m...,76908,65,6357,2003-11-18,29.0,this is the lentil curry that subru uncle(our ...,15.0,1087.0,14,2003
27876,Top secret recipes version of i h o p griddl...,113346,20,175727,2005-03-14,5.0,this recipe is top secret recipes version of i...,9.0,129.0,14,2005
5734,Chicken curry or cat s vomit on a bed of magg...,294898,30,802799,2008-03-28,11.0,an old family recipe that's easy to make since...,12.0,144.0,13,2008

In [36]:
recipes.to_csv('sort_recipes.csv', index=False)

6.2 Воспользовавшись pd.ExcelWriter, cохраните результаты 5.1 и 5.2 в файл: на лист с названием Рецепты с оценками сохраните результаты выполнения 5.1; на лист с названием Количество отзывов по рецептам сохраните результаты выполнения 5.2.

In [43]:
with pd.ExcelWriter('file2.xlsx') as writer:
  M1.to_excel(writer, sheet_name='Recipes_valuation', index=False)
  M2.to_excel(writer, sheet_name='Number_of_recipe_reviews', index=False)